<div class='row-fluid' id='welcome_container'>

  <div class='row-fluid'>

    <div class='span11 welcome'>

      <div class='span4'>
        <div class='welcome_block welcome_intro'>
          <h2>Welcome to your rabble</h2>
          <p>
            Invite people to <a href='<%= @url %>'><%= @url %></a>
          </p>
        </div>
      </div>

      <div class='span5'>
        <div class='welcome_block welcome_password'>
          <p>
            Since you made this rabble, you're in charge. Sort of.
          </p>
          <p>
            Write down your admin key:  <span class='key'><strong><%= @rabble.password %></strong></span>
          </p>
        </div>
      </div>

      <div class='span1 offset1'>
        <div class='welcome_block welcome_dismiss'>
          <p><a href='#' id='welcome_dismiss'>Dismiss</a></p>
        </div>
      </div>

    </div>
  </div>
</div>