<div class="sixteen columns rabble" data-rabble="<%= @rabble.slug %>">
  <div class="row">
    <div class="eight columns">

      <header class="rabble-heading">
        <h1><%= @rabble.name %></h1>
      </header>

    </div>

    <div class="five columns offset-by-two death-controls">
      <span id="ttl" class="ttl">This rabble has <span id="ttl-duration"></span> to live</span>

      <a href="/a/kill" data-session="<%= @session %>" class="kill" id="kill" title="KILL THIS RABBLE">
        ♞
      </a>
    </div>

    <div class="penalty-wrapper">
      <span id="penalty" class="penalty"></span>
    </div>

  </div>
</div>