/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Navigation styles
	#Page Styles
	#Helpers
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */

	body {
		background-color: #222;
  	background-image: url(/img/textures/assault.png);
  	background-repeat:repeat;
	}

	p, h1, h2, h3, h4, h5, h6 {
		font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
		color: #eee;
	}

	h1 {
		line-height: 20px;
		padding-bottom: 10px;
	}

	.container {
		padding-top: 3px;
	}


/* #Navigation Styles
================================================== */


/* #Page Styles
================================================== */
	/* Rabble */

	.rabble {
		padding-top: 20px;
	}


	.rabble-heading {
		padding-top: 15px;
	}

	.death-controls {
		float: right;
		text-align: right;
	}

	.kill {
		font-size: 30px;
		color: #ccc;
		text-decoration: none;
		text-align: left;
	}

	.kill:hover {
		font-size: 30px;
		color: #eee;
		text-decoration: none;
	}

	.penalty {
		font-family: "InconsolataMedium", "Lucida Console", Monaco, monospace;
		color: red;
		font-size: 20px;
		vertical-align: top;
	}

	.ttl {
		padding-right: 15px;
	}

	/* Error */

	.error {
		padding: 100px;
	}

	/* Ghosts */
	pre {
		font-family: "InconsolataMedium", "Lucida Console", Monaco, monospace;
		font-size: 13px;
		font-weight: 900;
		color: #eee;
		line-height: 20px;
	}

	.banner {
		color: green;
		font-size: 9px;
		line-height: 16px;
	}

	.tagline {
		padding-top: 30px;
		font-size: 19px;
		font-weight: 400;

	}

	/*Welcome*/

	.welcome-title {
		font-size: 100px;
		font-weight: 700;
		line-height: 70px;
		text-indent: -0.05em;
	}

	.welcome-subtitle {
		font-size: 30px;
		line-height: 35px;
		padding-top: 10px;
	}

	/*Get started*/

	.get-started {
		padding-top: 23px;
	}

	input.rabble-name[type="text"] {
		height: 35px;
		width: 460px;
		font-size: 30px;
		background-color: #333;
		color: #ccc;
		border-style: solid;
		border-width: 3px;
		border-color: #333;
	}

	input.rabble-name[type="text"]:focus {
		height: 35px;
		width: 460px;
		font-size: 30px;
		background-color: #444;
		color: #eee;
		border-style: solid;
		border-width: 3px;
		border-color: orange;
	}

	input.rabble-create[type="submit"], button, .btn {
		border: none;
		background: #333;
		text-shadow: none;
		height: 52px;
		width: 80px;
		font-size: 30px;
		color: green;
	}

	input.rabble-create[type="submit"]:hover {
		border: none;
		background: #444;
		text-shadow: none;
		height: 52px;
		width: 80px;
		font-size: 30px;
		color: orange;
	}

	input.disabled[type="submit"]:hover {
		background: #333;
		color: #444;
	}


	input.disabled[type="submit"] {
		color: #444;
	}

	.validation-message {
		font-size: 20px;
		font-family:  "InconsolataMedium", "Lucida Console", Monaco, monospace;
		padding-top: 15px;
		padding-left: 20px;
	}


/* #Helpers
================================================== */

	.hidden {
		display: none;
	}

	.success {
		color: green;
	}

	.failure {
		color: red;
	}

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}


/* #Font-Face
================================================== */

@font-face {
    font-family: 'InconsolataMedium';
    src: url('/fonts/Inconsolata-webfont.eot');
    src: url('/fonts/Inconsolata-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Inconsolata-webfont.woff') format('woff'),
         url('/fonts/Inconsolata-webfont.ttf') format('truetype'),
         url('/fonts/Inconsolata-webfont.svg#InconsolataMedium') format('svg');
    font-weight: normal;
    font-style: normal;

}