<div id='set_agenda'>
  <span class='set_agenda'>
    <span>Set your agenda:</span>
    <a class='agenda_symbol' data-agenda='text' href='#text'>✍</a>
    <a class='agenda_symbol' data-agenda='image' href='#text'>✇</a>
    <a class='agenda_symbol' data-agenda='video' href='#text'>☃</a>
    <a class='agenda_symbol' data-agenda='audio' href='#text'>⚛</a>
  </span>
</div>

<div id='agenda_form_wrapper'></div>
