<div class="sixteen columns welcome-header">
  <header class="hidden">
    <hgroup>
      <h1 class="welcome-title">Rabble</h1>
      <h2 class="welcome-subtitle"><span class="highlight">Instant, anonymous, transient</span> group conversations.</h2>
    </hgroup>
  </header>
</div>

<div class="sixteen columns welcome">
  <div class="row">
    <div class="four columns">
      <pre class="ghost">
                         .--.
                        /  ..\
                   ____.'  _o/
    .--.          '--.     |.__
   /..  \         _.-'     /--'
   \ o  /    _.--'        /
   /    \   ~'--....___.-'
  /      \
 (/      \)      ,_
  |      \        |`\
   \      '._     \  `'-._
    '._      '-.   \      '-._/)
       `'- ,~- _.`  '.        '.--.
                      `-.,    / ..`\
    .--.                 //'-.   o /
   /..  \               (/     '--'
   \o _ (____
 __.|    .--'
'---\    '.         ,
     '.    '-.___.-'/
       '-.__     _.'
            `````
      </pre>
    </div>

    <div class="ten columns">
      <pre class="banner">
          _____                    _____                    _____                    _____                    _____            _____
         /\    \                  /\    \                  /\    \                  /\    \                  /\    \          /\    \
        /::\    \                /::\    \                /::\    \                /::\    \                /::\____\        /::\    \
       /::::\    \              /::::\    \              /::::\    \              /::::\    \              /:::/    /       /::::\    \
      /::::::\    \            /::::::\    \            /::::::\    \            /::::::\    \            /:::/    /       /::::::\    \
     /:::/\:::\    \          /:::/\:::\    \          /:::/\:::\    \          /:::/\:::\    \          /:::/    /       /:::/\:::\    \
    /:::/__\:::\    \        /:::/__\:::\    \        /:::/__\:::\    \        /:::/__\:::\    \        /:::/    /       /:::/__\:::\    \
   /::::\   \:::\    \      /::::\   \:::\    \      /::::\   \:::\    \      /::::\   \:::\    \      /:::/    /       /::::\   \:::\    \
  /::::::\   \:::\    \    /::::::\   \:::\    \    /::::::\   \:::\    \    /::::::\   \:::\    \    /:::/    /       /::::::\   \:::\    \
 /:::/\:::\   \:::\____\  /:::/\:::\   \:::\    \  /:::/\:::\   \:::\ ___\  /:::/\:::\   \:::\ ___\  /:::/    /       /:::/\:::\   \:::\    \
/:::/  \:::\   \:::|    |/:::/  \:::\   \:::\____\/:::/__\:::\   \:::|    |/:::/__\:::\   \:::|    |/:::/____/       /:::/__\:::\   \:::\____\
\::/   |::::\  /:::|____|\::/    \:::\  /:::/    /\:::\   \:::\  /:::|____|\:::\   \:::\  /:::|____|\:::\    \       \:::\   \:::\   \::/    /
 \/____|:::::\/:::/    /  \/____/ \:::\/:::/    /  \:::\   \:::\/:::/    /  \:::\   \:::\/:::/    /  \:::\    \       \:::\   \:::\   \/____/
       |:::::::::/    /            \::::::/    /    \:::\   \::::::/    /    \:::\   \::::::/    /    \:::\    \       \:::\   \:::\    \
       |::|\::::/    /              \::::/    /      \:::\   \::::/    /      \:::\   \::::/    /      \:::\    \       \:::\   \:::\____\
       |::| \::/____/               /:::/    /        \:::\  /:::/    /        \:::\  /:::/    /        \:::\    \       \:::\   \::/    /
       |::|  ~|                    /:::/    /          \:::\/:::/    /          \:::\/:::/    /          \:::\    \       \:::\   \/____/
       |::|   |                   /:::/    /            \::::::/    /            \::::::/    /            \:::\    \       \:::\    \
       \::|   |                  /:::/    /              \::::/    /              \::::/    /              \:::\____\       \:::\____\
        \:|   |                  \::/    /                \::/____/                \::/____/                \::/    /        \::/    /
         \|___|                   \/____/                  ~~                       ~~                       \/____/          \/____/
      </pre>
      <pre class="tagline">
 Instant, anonymous, transient group discussions
      </pre>
    </div>

  </div> <!-- row -->
</div>


<div class="sixteen columns get-started">
  <form action="/p/go" method="post">
    <div class="row">
      <div class="6 columns">
        <input id="name" type="text" name="name" placeholder="Rabble up" class="rabble-name">
      </div>
      <div class="2 columns">
        <input id="get-started-button" class="btn disabled rabble-create" type="submit" disabled="disabled" value="Go">
      </div>
      <div class="three columns validation-message" id="validation">
      </div>
    </div>
  </form>
</div>
