<div id='page_wrapper' data-page='home' class='row-fluid'>
  <div class='span5'>
    <p>Rabble up. All we need is a name:</p>
  </div>
</div>


<div class='row-fluid'>
  <div class='span5'>
    <form action='/p/new' method='post'>
        <input id='name' type='text' name='name' placeholder='Rabble name'>
        <span class='help-inline' id='validate_name'></span>
        <br>

        <br>
        <input id='submit_button' class='btn disabled' type='submit' value='Create'>
    </form>
  </div>
</div>
