<div class="sixteen columns error">
  <div class="row">
    <div class="four columns">
      <pre class="ghost">
                         .--.
                        /  ..\
                   ____.'  _o/
    .--.          '--.     |.__
   /..  \         _.-'     /--'
   \ o  /    _.--'        /
   /    \   ~'--....___.-'
  /      \
 (/      \)      ,_
  |      \        |`\
   \      '._     \  `'-._
    '._      '-.   \      '-._/)
       `'- ,~- _.`  '.        '.--.
                      `-.,    / ..`\
    .--.                 //'-.   o /
   /..  \               (/     '--'
   \o _ (____
 __.|    .--'
'---\    '.         ,
     '.    '-.___.-'/
       '-.__     _.'
            `````
      </pre>
    </div>
    <div class="eight columns">
      <h1 class="failure"><blink>this is your fault</blink></h1>
    </div>
  </div>
</div>