@import "bootstrap/bootstrap.less";

body {
  padding-top: 10px;
  padding-bottom: 40px;
}


@import "bootstrap/responsive.less";


/* Generic color classes for spans of text. */

span.success { color: @successText }
span.failure { color: @errorText }


div#death_counter > p {
  margin: 3px;
  font-size: 15px;
  color: @grayLight;
}


div#death_counter {
  padding-top: 10px;
}


div.welcome {
  background-color: @grayDarker;
  margin-bottom: 40px;
  margin-top: 15px;
}


div.welcome * h2, div.welcome * p, div.welcome * a {
  color: @white;
}


div.welcome_block {
  padding: 10px;
}


div.welcome_password {
  margin-top: 10px;
}


div.welcome_dismiss {
  margin-top: 10px;
  float: right;
}


span.key {
  background: white;
  color: green;
  padding-left: 3px;
  padding-right: 3px;
}


span.set_agenda {
  padding: 8px 5px;
  font-size: 18px;
  display: inline-block;
  background: #FFF563;
}


a.agenda_symbol {
  padding: 0px 7px;
  font-size: 28px;
  color: @black;
}


div#agenda_form_wrapper {
  padding-top: 10px;
  padding: 5px;
}


p.agenda_form_help {
  padding-top: 10px;
}


div.markdown_agenda {
  margin: 0px;
  padding: 10px;

  border-top-style:solid;
  border-right-style:none;
  border-bottom-style:solid;
  border-left-style:none;

  border-width:15px;
  border-color: #A8E3FF;
}