<p class='agenda_form_help'>Come on OP, just this once...</p>

<form id='agenda_form' action='/p/agenda' method='post'>
  <input type='hidden' name='slug' value='<%= @slug %>'>
  <input type='hidden' name='type' value='<%= @agenda_type %>'>

  <textarea rows='9' class='span7' name='content'></textarea>

  <button type='submit' class='btn'>Submit</button>
</form>
